doctype 5
<!--[if lt IE 9]> <html lang="en" class="ie8 old-ie"> <![endif]-->
<!--[if IE 9]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
html(lang="en")
  <!--<![endif]-->
  //
    *
    *
    *
    *          ///   ///    ..oOOOo..
    *         ///   ///  .:OOOOOOOOOOO:.
    *        ///   ///  .OOOOOOOOOOOOOOO.
    *       ///   ///   OOOOOOOOOOOOOOOOO
    *      ///   ///    OOOOOOOOOOOOOOOOO
    *     ///   ///     OOOOOOOOOOOOOOOOO
    *    ///   ///      `OOOOOOOOOOOOOOO'
    *   ///   ///        `:OOOOOOOOOOO:'
    *  ///   ///            ''*OOO*''
    *
    *  Designed & Developed by LaCroix Design Co.
    *    http://lacroixdesign.net
    *
    *
    *

  head
    include _head
    include _analytics
    include _mixins

  body
    block content
